.label {
  cursor: pointer;
  background-color: #f6f8fa;
  border: 1px solid #d1d9e0;
  padding: 8px;
  border-radius: 30px;
}

.label:hover {
  background-color: #eff2f5;
}

.label:active {
  background-color: #e6eaef;
}

.input {
  display: none;
}
