.container {
  padding: 1rem;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 0 8px 0 #cdcdcd;
}

.name {
  margin: 0;
  font-size: 1.2rem;
  color: #ccc;
}